.header {
    background-color: #40798C;
    text-align: center;
    text-shadow: whitesmoke 1px 1px 2px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: auto;
    padding: 10px;
    border: 2px solid #071108;
    margin: 100px;
    border-radius: 2%;
}

.card {
    background-color: skyblue;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2),
                0 6px 20px rgba(0,0,0,0.19);

    display: flex;
    flex-direction: column;   
    gap: 15px;                
}


.card input {
    flex: 1;               
    height: 75%;
    border: none;
    outline: none;
    padding: 0 18px;
    border-radius: 6px;
    font-size: 18px;
}

.card button {
    height: 100%;
    width: 45px;             
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card button img {
    width: 22px;
    height: 22px;
}

.search-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-info {
    text-align: center;
    font-size: 2rem;
    font-family: Copperplate;
    font-weight: bold; 
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.humidity-icon {
    width: 30px;
    height: 30px;
}

.weather-info {
    display: none;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
    display: none;
}